@inherits LayoutComponentBase
@inject NASCAR_Money.Services.ThemeService ThemeService

<PageTitle>NASCAR-Money</PageTitle>
<MudThemeProvider @bind-IsDarkMode="@ThemeService.IsDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider/>
@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <MudSwitch Checked="@ThemeService.IsDarkMode" Color="Color.Primary" Class="ma-4" T="bool" Label="Toggle Light/Dark Mode" CheckedChanged="ToggleTheme" />
            <MudSpacer />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private MudTheme _theme = new();

    private void ToggleTheme()
    {
        ThemeService.ToggleTheme();
    }
}

<MudThemeProvider />*@

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3" Style="font-weight: bolder"><i>NA$CAR MONEY</i></MudText>
        <MudSpacer />
        <MudSwitch Checked="@ThemeService.IsDarkMode" Color="Color.Primary" Class="ma-4" T="bool" Label="Toggle Light/Dark Mode" CheckedChanged="ToggleTheme" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        @*NavMenu*@
    </MudDrawer>
    <MudMainContent>
        <article class="content px-4">
            @Body
        </article>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private MudTheme _theme = new MudTheme()
        {
            Palette = new PaletteLight()
            {
                Primary = Colors.Indigo.Accent4,
                Secondary = Colors.Red.Accent3,
                AppbarBackground = Colors.Grey.Darken3,
            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Blue.Lighten1
            },
        };

    //private MudTheme _theme = new();

    private void ToggleTheme()
    {
        ThemeService.ToggleTheme();
    }
}